<a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user={{ include.user }}&citation_for_view={{ include.user }}:{{ include.paper }}" 
   target="_blank" style="text-decoration:none;">
  <span class="external-link button is-rounded"
        style="background-color:#9cf; color:#000; border:none; font-size:0.75rem; padding:0.25em 0.6em; line-height:1;">
    <i class="fab fa-google-scholar" style="margin-right:4px; font-size:0.8rem;"></i>
    <strong><span class="show_paper_citations" data="{{ include.user }}:{{ include.paper }}"></span></strong>
  </span>
</a>